.body {
  background-color: white;
  .title {
    background-color: hsl(231, 72%, 52%, 0.2);
    h2 {
      color: hsl(231, 72%, 52%);
      font-weight: 600;
      margin: 0;
    }
    padding: 16px;
  }
  .form {
    padding: 16px;
  }
  .form-group {
    margin-bottom: 30px;
  }
  .button-group {
    text-align: end;
    .create {
      margin-left: 10px;
    }
  }
}
